{% extends 'base.html' %}
{% block body%}
<style>
    #table-scroll {
    height:300px;
    overflow:auto;
    margin-top:20px;
   background-color:#ccffee;
  }
  #table-scroll1{
    height:800px;
    overflow:auto;
    margin-top:20px;
  }
</style>
<div class="container" style="margin-top:50px;" id="nation">
    <div class="row">
       <div class="col">

            <h1 style="margin-bottom:0;font-weight:bold;">
                <center>District-Wise Data For India </center></h1>
            <div id="table-wrapper">
                <div >
                    <table class="table table-primary" id="india">

                        <tr>
                            <table class="table " id="india">

                            <tr>

                                <td>
                                {% for d1,d2 in data1.items %}
                                <hr>
                                <center><h1>{{d1}}</h1></center>
                                <hr>
                                <div id="table-wrapper">
                                    <div id="table-scroll">
                                        <table class="table table-hover " id="india">
                                            <thead>
                                            <tr style="text-align:center">
                                                <th scope="col">District</th>
                                                <th scope="col" > Total Confirmed</th>
<!--                                                <th scope="col" class="activ">Active Cases</th>-->
                                                <th scope="col" class="activ"> Total Recovered</th>
                                                <th scope="col" > Total Deaths </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for dt1,dt2 in d2.districts.items %}
                                            <tr style="text-align:center">

                                                <td> {{dt1}}</td>

                                                <td > {{dt2.total.confirmed}} </td>
<!--                                                <td class='activ'> {{dt.active}}</td>-->

                                                <td class='activ'> {{dt2.total.recovered}}</td>

                                                <td > {{dt2.total.deceased}} </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endfor %}</td>
                                        </tr>
                                        </table>
                            </td>
                        </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body%}