{%extends 'base.html'%}

{% block body %}
<div class="d-flex justify-content-center">
    {% load static %}
    <img src="{% static '1.jpg' %}" alt="My image" style="width:100%; object-fit:cover; height:400px">

</div>
<div class="container">
<table class="table table-borderless my-5 table-light" style="text-align:center; position: sticky; top: 0">
    <tr>
        <th scope="col" style="color:red">Confirmed<br>
      <span>{{ss.Total.total.confirmed}}</span></th>
      <th scope="col" style="color:green">Recovered<br>
      <span >{{ss.Total.total.recovered}}</span></th>
        <th scope="col" style="color:grey">Deceased<br>
      <span >{{ss.Total.total.deceased}}</span></th>
        <th scope="col" style="color:blue">Vaccinated<br>
      <span >{{v}}</span></th>
    </tr>
</table>
    <center>
<h2>State Wise cases in India </h2></center>
<table class="table my-3 table-borderless " style="text-align:center" >
    <thead class="thead-light">


    <tr style="position: sticky; top: 72px">
        <th>State</th>
        <th >Total Confirmed Cases</th>
        <th>Total Recovered Case</th>
        <th>Total Deaths</th>
<!--        <th>Total Tested</th>-->
    </tr>
    </thead>

    {% for d1,d2 in ss.items %}
    <tr>
        <th class="table-secondary">{{d1}}</th>
        <td class="table-primary">{{d2.total.confirmed}}</td>
        <td class="table-success">{{d2.total.recovered}}</td>
        <td class="table-danger">{{d2.total.deceased}}</td>
<!--        <td class="table-info">{{d1.total.tested}}<br>+ ({{d1.daily.tested}})</td>-->
    </tr>
    {% endfor %}


</table></div>
{% endblock body%}